.name{
    text-align: center;
    color: blue;
}
    body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTj-zIYqZmdYvnk50lNOvVbaELKO53s11k7Vw&usqp=CAU");
        font-family: 'Marmelad', sans-serif;
        font-size: 30px;
        color: pink;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .container {
        background-color: none;
    }
    .jumbotron  {
        background-image: url(https://images.unsplash.com/photo-1536928966032-83f683b965ef?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80)
    }
    h1  {
        text-align: center;
        font-family: 'Kaushan Script', cursive;
        font-size: 70px;
    }
   
    .col-md-5 {
        float: left;
    }
    p   {
        color: blueviolet;
    }
    .panel  {
        background-color: green;
        color: aliceblue;
    }
    .form p  {
        color: blueviolet;
    }
    
.form > button:hover{
    background-color: rgba(25, 25, 255, .9);
}
.button:hover{
    text-align: center;
    background-color: rgba(234, 25, 255, .79);
}


.foot{
    display: inline-block;
   width: 100%;
   /* padding: 20px 20px; */
   margin: 2%;
   text-align: center;
   box-shadow: 0 0 15px 2px rgba(40, 73, 114, 1);
   background: beige;
   color: blue;
     
}